* {
    margin: 0;
    border: none;
    box-sizing: content-box;
    padding: 0;
    outline: none;
}

body {
    font-family: Verdana, sans-serif;
}


/*Todos os elementos a herdarão do pai a cor*/

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}