[data-color=um]{
    background-color: #45AAEE;
}

[data-color=dois]{
    background-color: #FF1010;
}

[data-color=tres]{
    background-color: #76ef40;
}

[data-color=quatro]{
    background-color: #EBEF40;
}

.card{     
    padding: 32px 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    border-radius: 10px;
}


.card-options-wrapper{
    top:-16px;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity .2s linear;
}
.card:hover .card-options-wrapper{
    opacity: 1;
}

.card-options{
    width: 24px;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.5);
    display: inline-block;
    cursor: pointer;
}



.card-options:hover{
    width: 2.2em;
    height: 2.2em;    
}

.card-actions{
background-size: 65%;
 background-repeat: no-repeat;  
 background-position: center; 
 background-color: #fff;
}
.card_delete{
 background-image: url(../../img/delete.svg);
 margin-right: 15px;
}
.card_edit{
background-image: url(../../img/edit.svg);
}

.card-options.ativo{   
   border-width: 3px;
}

.card-content[contenteditable=true]{
    outline: 2px dashed rgba(0,0,0,0.5);
}