.header {
    background-color: #51b0dc;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-title {
    color: #B3DAEE;
    display: inline-block;
}

.header-menu {
    float: right;
}

.header-button:first-child {
    margin-right: 15px;
}

.header-button {
    background-color: #006195;
    color: #fff;
    height: 22px;
    padding: 8px;
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
}

.btn {
    height: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px;
}