.newCard {
    background-color: #c5c5c5;
    margin-bottom: 40px;
    padding: 24px 127px;
}

.newCard-content {
    padding: 10px;
    height: 24px;
    width: 560px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 0 0 #fff;
    transition: height .2s linear, box-shadow 0.3s linear;
}

.newCard-content:focus {
    height: 100px;
    box-shadow: 0 0 10px 2px cadetblue;
}

.newCard-action {
    font-size: 1em;
    width: 5.25em;
    height: 2.125em;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}